<mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
    <mat-toolbar-row>
        <button mat-button (click)="navigateToDashboard()">H1T</button>
        <span class="spacer"></span>
        <button mat-button *ngIf="!(auth.isAuthenticated$ | async)" (click)="openRegisterDialog()">Register</button>
        <button mat-button *ngIf="!(auth.isAuthenticated$ | async)" (click)="openLoginDialog()">Login</button>
        <button mat-button [mat-menu-trigger-for]="profileMenu" *ngIf="(auth.isAuthenticated$ | async)">
            <mat-icon>expand_more</mat-icon>
            {{(auth.user$ | async)!.email}}
        </button>
        <button mat-icon-button *ngIf="(auth.isAuthenticated$ | async)" (click)="logout()"><mat-icon>logout</mat-icon></button>
        <mat-menu #profileMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="navigateToProfilePanel()">Profile</button>
            <button mat-menu-item *ngIf="(auth.user$ | async)!.permissions.includes('SysAdmin')" (click)="navigateToSysAdminPanel()">Sys admin panel</button>
            <button mat-menu-item *ngIf="(auth.user$ | async)!.permissions.includes('SysAdmin') || (auth.user$ | async)!.permissions.includes('Admin')" (click)="navigateToAdminPanel()">Admin panel</button>
            <button mat-menu-item *ngIf="(auth.user$ | async)!.permissions.includes('SysAdmin') || (auth.user$ | async)!.permissions.includes('Admin') || (auth.user$ | async)!.permissions.includes('Moderator')" (click)="navigateToModeratorPanel()">Moderator panel</button>
            <button mat-menu-item (click)="navigateToAdvertisementsPanel()">My advertisements</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>