<h2 mat-dialog-title>Create new transport advertisement</h2>
<mat-dialog-content class="mat-typography">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="form-container">
        <ng-template matStepLabel>Preparation</ng-template>
        <div class="form-row">
            <mat-form-field>
                <mat-label>Transport type</mat-label>
                <mat-select formControlName="transportType">
                  <mat-option *ngFor="let value of transportTypes" [value]="value.name" (click)="selectTransportTypeProcess(value.id, value.name)">{{value.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-left: 10px;">
              <mat-label>Transport body type</mat-label>
              <mat-select formControlName="transportBodyType">
                  <mat-option *ngFor="let value of transportBodyTypes" [value]="value.name">{{value.name}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field>
                <mat-label>Transport make</mat-label>
                <mat-select formControlName="transportMake">
                    <mat-option *ngFor="let value of transportMakes" [value]="value.name" (click)="selectTransportMakeProcess(value.id, value.name)">{{value.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-left: 10px;">
              <mat-label>Transport model</mat-label>
              <mat-select formControlName="transportModel">
                  <mat-option *ngFor="let value of transportModels" [value]="value.name">{{value.name}}</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div class="form-actions">
            <button mat-button (click)="resetFirstFormGroup()">Reset</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill general info</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill transport info</ng-template>
        <mat-form-field>
          <mat-label>Serial number</mat-label>
          <input matInput formControlName="serialNumber" placeholder="url" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Add images</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="images" placeholder="url" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>