<mat-toolbar color="primary" style="padding-top: 10px;">
    <mat-toolbar-row>
        <button mat-button>Works4U</button>
        <span class="spacer"></span>
        <div *ngIf="!authService.isAuthenticated()">
          <button mat-button (click)="openLoginDialog()">Login</button>
          <button mat-button>Register</button>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated()">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled>
                <span>{{(authService.$user | async)?.email}}</span>
            </button>
              <button mat-menu-item>
                  <span>Profile</span>
              </button>
              <button mat-menu-item>
                <span>Admin</span>
              </button>
              <button mat-menu-item>
                <span>Exit</span>
              </button>
            </mat-menu>
          </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        
    </mat-toolbar-row>
</mat-toolbar>